:root{
    --back: #fff;
    --font: #000;
    --grey: #262626;
    --blue: #00358b;
    --blue2: #00358b90;
}
html{
    scrollbar-width: thin;
    scroll-behavior: smooth;
}
body{
    background-color: var(--back);
    color: var(--font);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: all .3s;
}
img{
    width: 100%;
    height: auto;
}
#header{
    height: 5rem;
    background-color: var(--back);
    filter: drop-shadow(0px 0px 5px var(--grey));
    padding: .5rem 2rem;
    z-index: 5;
    position: sticky;
    top: 0;
    display: flex;
}
a{
    height: 100%;
}
#header a:first-child{
    margin-right: auto;
    display: inline-block;
}
#header img{
    height: 100%;
    width: auto;
}
.icon{
    height: 80%;
    width: auto;
    margin-top: .5rem;
    margin-right: 1rem;
}
#tel{
    width: max-content;
    margin-top: 1.7rem;
    margin-left: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 120%;
    color: var(--font);
}
#main{
    background-image: url(/img/sommerhof.png);
    background-size: 120%;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
#error{
    margin-bottom: 2rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--blue2);
    width: max-content;
    margin-inline: auto;
    border: 2px solid var(--blue);
    padding: 1rem 2rem;
    color: var(--back);
    font-size: 150%;
    border-radius: 10px;
    font-weight: bold;
}
.block{
    background-color: var(--blue);
    width: max-content;
    margin-inline: auto;
    padding: .2rem 2rem;
    font-size: 180%;
    border-radius: 15px;
    border: 2px solid var(--font);
    color: var(--back);
}
.block .icon img{
    width: 5rem;
}
#info{
    width: 25%;
    margin-inline: auto;
    background-color: var(--back);
    margin-top: 5rem;
    padding: 1rem 5rem;
    text-align: left;
    border-radius: 15px;
    border: 2px solid var(--font);
}
li{
    list-style: none;
}
li::before{
    content: "↪";
}
#mails{
    margin-top: 5rem;
}
.mail{
    width: max-content;
    color: var(--back);
    background-color: var(--blue);
    padding: 1rem;
    margin: .5rem;
    margin-top: 5rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
}
a:hover{
    text-decoration: underline;
}
@media (max-width:600px) {
    #header{
        height: 3rem;
        padding: .5rem 0rem .5rem 1rem;
    }
    #header #tel{
        display: none;
    }
    #main{
        background-image: url(/img/sommerhof2.png);
    }
    #error{
        width: 70%;
        margin-inline: auto;
        font-size: 120%;
    }
    .block{
        width: 90%;
        margin-inline: auto;
        font-size: 120%;
        padding: 0;
    }
    .block .icon img{
        width: 3rem;
        margin-bottom: .5rem;
    }
    #info{
        width: 90%;
        margin-inline: auto;
        padding: .5rem;
        margin-bottom: -2rem;
    }
    li{
        margin-left: .5rem;
    }
    #mails{
        margin-top: 2rem;
        display: block;
        width: 100%;
    }
    .mail{
        width: 80%;
        margin-inline: auto;
        display: block;
    }
    .mail:nth-child(2){
        margin-top: 32px;
    }
    .mail:last-child{
        margin-top: 2rem;
    }
}